/* all posts to be displayed */
.post1, .post2, .post3 , .post4, .post5 {
    position: relative;
    width: 40%;
    background: #fff;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    

}

/* all posts will have hover property -> shadow */
.post1:hover{
    box-shadow: 10px 10px 5px grey;
}
.post2:hover{
    box-shadow: 10px 10px 5px grey;
}
.post3:hover{
    box-shadow: 10px 10px 5px grey;
}
.post4:hover{
    box-shadow: 10px 10px 5px grey;
}
.post5:hover{
    box-shadow: 10px 10px 5px grey;
}
/* left side style for author */
.post-left {
    width: 15%;            
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
    overflow: auto;
}

/* each post body */
.post-content {
    width: 75%;           
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;      
}
/* post title */
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 20px;
    height: 25px;
}

/* post style necessary changes */
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

/* post body show 3 lines then ... */
.post-desc{
    height: 85px;
    margin-bottom: 0 !important;
    overflow: hidden;
    max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

